body { 
    
    font-family: sans-serif;
    overflow: hidden;
    display: none;
}

#deneme {
    width: 89%;
    height: 35%;
    border: 5px solid rgb(133, 30, 30);
    border-radius: 6px;
    position: fixed;
    top: auto;
    right: 5%;
    margin: auto;
    color: white;
    text-align: center;
    background-color: black;
}


